@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap')

@import 'common/normalize'
@import 'common/palette'

@import 'ui/field'
@import 'ui/crg-grader'

body, html
    margin: 0
    padding: 0
    background-color: $bg-color
    color: $fg-color
    font-family: "Inter", sans-serif

body
    padding: 4rem


.output
    margin-top: 5rem
    color: $fg-color-light-4

    pre
        color: $fg-color

.form-controls
    display: flex
    margin-bottom: 3rem
    color: $fg-color-light-4
    justify-content: flex-end
    margin-bottom: 3rem
    padding-bottom: 3rem
    border-bottom: 1px solid $bg-color-light-4

    .control
        display: flex
        flex-direction: column
        text-align: left
        justify-content: flex-start
        align-items: flex-start

        &:not(:first-child)
            margin-left: 1rem

    input
        padding: 0.5rem
        color: $fg-color-light-3