
$bg-color: black
$bg-color-light-1: lighten($bg-color, 5%)
$bg-color-light-2: lighten($bg-color, 10%)
$bg-color-light-3: lighten($bg-color, 15%)
$bg-color-light-4: lighten($bg-color, 20%)

$fg-color: white
$fg-color-light-1: darken($fg-color, 5%)
$fg-color-light-2: darken($fg-color, 15%)
$fg-color-light-3: darken($fg-color, 30%)
$fg-color-light-4: darken($fg-color, 50%)
$fg-color-light-5: darken($fg-color, 60%)
$fg-color-light-6: darken($fg-color, 70%)
$fg-color-light-7: darken($fg-color, 80%)
$fg-color-light-8: darken($fg-color, 85%)
$fg-color-light-9: darken($fg-color, 90%)


$accent-color: #eab676